
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="reservation">
    <div>
        <a asp-area="" asp-controller="Reservation" asp-action="HotelApply">FIND HOTEL
            <br />
            <img src="https://images.pexels.com/photos/2467558/pexels-photo-2467558.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        </a>
    </div>
    <div>
        <a asp-area="" asp-controller="Reservation" asp-action="PlaneApply">FIND FLIGHT
            <br />
            <img src="https://media.istockphoto.com/id/136881645/tr/foto%C4%9Fraf/xl-jet-airplane-landing-at-sunset.jpg?s=612x612&w=0&k=20&c=v6mpDwDgDsp8A02ru4gKZ-dAXCyu_lHg9ceLmUzWVik=" />
        </a>
    </div>
    <div>
        <a asp-area="" asp-controller="Recommendation" asp-action="Index">RECOMMENDATIONS
            <br />
            <img src="https://images.pexels.com/photos/4530183/pexels-photo-4530183.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        </a>
    </div>
</div>